aioesphomeapi==46.4.1
aiohappyeyeballs==2.7.1
async_interrupt==1.2.2
cffi==2.1.1
chacha20poly1305-reuseable==0.13.2
cryptography==50.0.1
ifaddr==0.2.0
noiseprotocol==0.3.1
protobuf==7.36.2
pycparser==3.0
tzdata==2026.4
tzlocal==5.4.4
zeroconf==0.151.3
